.containerForm{
  position: absolute;
  width: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.login-form {
  width: 50%;
  margin: 50px auto;
  font-size: 15px;
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.form-control,
.btn {
  min-height: 12%;
  border-radius: 2px;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a:hover {
  color: #74000d;
}
.padgrp{

  margin:  2% 0;
}